*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header a{
    text-decoration: none;
    color: #0D0E43;
  font-family: "Lato", sans-serif;
}
.header .content a {
    transition-property: color;
    transition-duration:  2s ;
    transition-delay: 1s;
}

.header .content a:hover {
    color: #FB2E86;
}


.header{
    padding: 20px 0;
    position: fixed;
width:100%


}
.container {
    padding: 0 100px; 
    max-width: 1400px; 
    margin: 0 auto;
}

.header .container{
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.header ul{
display: flex;
gap:20px;
list-style-type: none;

}

 .input{
    border: 0;
}
.header button{
    border:0;
    background-color: #FB2E86;
    width:51px;
    height: 30px;
}

button img{
    padding: 1px
}

.header form{
   border: 2px solid #E7E6EF;
    display: flex;
}
/*style of  footer */

.row{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
gap:30px;
}

.footer{
    background-color: #E7E6EF;
    padding: 50px 0 ;
    font-family: "Lato", sans-serif

}

 .footer .left_side_footer  {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

.left_side_footer{
    width:calc((100%-20px)/2)
}
.right_side_footer{
    width:calc((100%-20px)/2)
}
.footer_right_side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer button{
    border:0;
    background-color: #FB2E86;
   color: white;    width:51px;
    height: 30px;
}

.footer form{
   border: 2px solid #E7E6EF;
    display: flex;
}
.footer.input{
    border-color: white;
}
.footer .contact_info p {
    color: #8A8FB9;
}
.footer li{
        color: #8A8FB9;
        list-style: none;
        font-size: 14px;

}
.footer .footer_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:25px;
}
.footer ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:10px;
}
.footer .row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 90px; 
}

h3{
    font-size: 15px;
}
/* ===================== Responsive ===================== */

@media (max-width: 768px) {

    .container {
        padding: 0 20px;
    }

    .header .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .header ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .header form input {
        width: 150px;
    }

    /* Footer */
    .row {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .left_side_footer,
    .right_side_footer {
        width: 100%;
    }

    .right_side_footer .row {
        flex-direction: column;
        gap: 20px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    .container {
        padding: 0 40px;
    }

    .header ul {
        gap: 15px;
    }

    .right_side_footer .row {
        flex-wrap: wrap;
        gap: 30px;
    }
}
