*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header a{
    text-decoration: none;
    color: #0D0E43;
  font-family: "Lato", sans-serif;
}
.header .content a {
    transition-property: color;
    transition-duration:  2s ;
    transition-delay: 1s;
}

.header .content a:hover {
    color: #FB2E86;
}


.header{
    padding: 20px 0;
    position: fixed;
width:100%


}
.container {
    padding: 0 100px; 
    max-width: 1400px; 
    margin: 0 auto;
}

.header .container{
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.header ul{
display: flex;
gap:20px;
list-style-type: none;

}

 .input{
    border: 0;
}
.header button{
    border:0;
    background-color: #FB2E86;
    width:51px;
    height: 30px;
}

button img{
    padding: 1px
}

.header form{
   border: 2px solid #E7E6EF;
    display: flex;
}
/*style of  footer */

.row{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
gap:30px;
}

.footer{
    background-color: #E7E6EF;
    padding: 50px 0 ;
    font-family: "Lato", sans-serif

}

 .footer .left_side_footer  {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

.left_side_footer{
    width:calc((100%-20px)/2)
}
.right_side_footer{
    width:calc((100%-20px)/2)
}
.footer_right_side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer button{
    border:0;
    background-color: #FB2E86;
   color: white;    width:51px;
    height: 30px;
}

.footer form{
   border: 2px solid #E7E6EF;
    display: flex;
}
.footer.input{
    border-color: white;
}
.footer .contact_info p {
    color: #8A8FB9;
}
.footer li{
        color: #8A8FB9;
        list-style: none;
        font-size: 14px;

}
.footer .footer_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:25px;
}
.footer ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:10px;
}
.footer .row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 90px; 
}

h3{
    font-size: 15px;
}
/* ===================== Responsive ===================== */

@media (max-width: 768px) {

    .container {
        padding: 0 20px;
    }

    .header .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .header ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .header form input {
        width: 150px;
    }

    /* Footer */
    .row {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .left_side_footer,
    .right_side_footer {
        width: 100%;
    }

    .right_side_footer .row {
        flex-direction: column;
        gap: 20px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    .container {
        padding: 0 40px;
    }

    .header ul {
        gap: 15px;
    }

    .right_side_footer .row {
        flex-wrap: wrap;
        gap: 30px;
    }
}
    /* hero section */

.hero{
background-image: url('./../image/bg.png');
height:362px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
background-size: 100%;

}

.hero_content h2{
    font-weight: 350;
}

.hero_content{
color: #151875;
font-family:'Josefin Sans' ;
font-size: 20px;
line-height: 45px;


}

.hero_content button{
background-color: #FB2E86;
color: #E7E6EF;
width:163px ;
height: 49px;
border: 0;
font-family:'Josefin Sans' ;
font-size: 17px;
margin-top: 20px;


}
    /* feature product section */


.featured_products{

display: flex;
align-items: center;
justify-content: center;
text-align: center;
    flex-wrap: wrap;
gap:29px;
  
}
.product_image{
background-color:#F6F7FB;
width: 270px;
    height: 236px;
    display: flex;
    justify-content: center;  
    align-items: center;      

}
.product_image img{
    width: 175px;
    height: 175px;
    object-fit: contain;
    padding:10px;
}
.product_image 
.product{
height: 361px;
width: calc((100%-116)/4);
display: flex;
flex-direction: column;
align-items: center;
gap:20px;
box-shadow: 0px 8px 40px rgb(0, 0, 0,0.09);
border-radius: 5px;
margin-bottom: 50px;

}


.product_info{

display: flex;
align-items: center;
justify-content: center;
text-align: center;
flex-direction: column;
line-height: 20px;

}
 h2{
    color: #1A0B5B;
font-family:'Josefin Sans' ;
text-align: center;
margin-top: 40px;
margin-bottom: 20px;

}
.featured_products h3{
    color: #FB2E86;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}
span{
font-size: 14px;
font-family:'Josefin Sans' ;
color: #151875;


}



    .product_colors button{
        border:0;
        outline:0;
        width: 14px;
        height: 4px;
        border-radius: 10px;
    }
#color_one {
    background-color: #05E6B7;
}

#color_two {
    background-color: #F701A8;
}

#color_three {
    background-color: #00009D;
}
.product_image{
  position: relative;
}

.over_img{
  position: absolute;
  inset: 0;            
  opacity: 0;
  transition: .3s;
}

.product_image:hover .over_img{
  opacity: 1;

}
.product:hover .product_details,
.product:hover .product_info{
  background-color: #2F1AC4;
  

}
.product:hover h3{

  color: white;
}
.product:hover span{
  color: #fff;
}
.product:hover .span1{
  color: #fff;
  -webkit-text-stroke: .4px #000000;   
}

.top_icons{
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  gap: 12px;
}

.top_icons img{
  width: 35px;
  height: 35px;
  background: #F6F7FB;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.over_img button{
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  background-color: #08D15F;
  color: white;
  font-family: 'Josefin Sans';
  font-size: 12px;
  width: 94px;
  height: 29px;
  border: 0;
  border-radius: 4px;
}

    /*hero header section */
.hero_header{
    padding-top:50px;
    padding-bottom: 50px;
}


    .hero_header .container{
        display: flex;
        align-items: center;
      justify-content: space-between;
        text-align: center;
            gap:85px;
    }

.hero_rightside img{
width: 550px;
height: 550px;

}

.hero_header{
    background-color: #F2F0FF;
}
.hero_header p{
    font-family: "Lato", sans-serif;
    color: #FB2E86;
    font-size: 16px;
}

.hero_header h2{
    font-family:'Josefin Sans' ;
    font-size: 53px;
    color: #000000;
    font-weight: 350;
  text-align: left; 
   margin: 7px;

}
.hero_header button{
        font-family:'Josefin Sans' ;
        width: 159px;
        height: 50px;
        background-color: #FB2E86;
     color:white;
border: 0;
margin-top: 7px;
font-size: 17px;
}
#p2{
    color:#8A8FB9;

}
#p1{
    font-weight: bold;
    width: 222px;
    height: 56px;
}

.hero_leftside{
  text-align: left; 

}

    /*leatest section  */
.Leatest_Products .row{
  display: flex;
  flex-direction: column; 
  align-items: center;   
}
    .Leatest_Products{
        padding-top: 50px;
    padding-bottom: 50px;
      text-align: center;

    }
.Leatest_Products h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
  color: #151875;
  margin-bottom: 20px;
}
/* menu */
.menu ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0 0 35px;
}
.menu ul li{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #151875;
}
.menu li:hover{
color: #FB4997;
  text-decoration: underline;
}


.all_Leatest_Products{
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
    justify-content: center;

}

/* 3 items per row */
.Lproduct{
  flex: 0 0 calc((100% - 74px) / 3); /* 74 = 2 gaps (37*2) */
  max-width: calc((100% - 74px) / 3);
}

.Leatest_Products .row,
.all_Leatest_Products{
  width: 100%;
}
.Lproduct_image img{
  width: 80%;
  height: 80%;
  object-fit: contain;   
  display: block;
}
.Lproduct_image{
      position: relative;
  background-color: #EEEFFB;
  width: 100%;
  height: 270px;          
  display: flex;
  align-items: center;
  justify-content: center;
}
.sale_img{
  position: absolute;
  top: 12px;
  left: 12px;
 

  transform: rotate(-15deg) scale(0.4); 
  transform-origin: left top;
}
.hover_icons{
  position: absolute;
  left: 15px;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
}

.hover_icons img{
  width: 32px;
  height: 32px;
  background: #fff;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}
.Lproduct_image:hover .hover_icons{
  opacity: 1;
}


.Lproduct_info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.Lproduct_info p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: #151875;
  margin: 0;
}
.old_price{
      font-family: 'Josefin Sans', sans-serif;

    font-size: 12px;
    color: #FB2448;
    text-decoration: line-through;
}
.new_price{
      font-family: 'Josefin Sans', sans-serif;

    font-size: 14px;
        color: #151875;

}

@media (max-width: 1024px){
  .hero_header .container{
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    text-align: center;
  }

  .hero_leftside{
    text-align: center;
  }

  .hero_header h2{
    font-size: 40px;
    text-align: center;
  }

  #p1{
    width: auto;
    height: auto;
  }

  .hero_rightside img{
    width: 100%;
    max-width: 520px;
    height: auto;
  }

  .Lproduct{
    flex: 0 0 calc((100% - 37px) / 2);
    max-width: calc((100% - 37px) / 2);
  }

  .Lproduct_image{
    height: 240px;
  }
}

@media (max-width: 768px){
  .hero_header{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hero_header h2{
    font-size: 32px;
    margin: 6px 0;
  }

  .hero_header button{
    width: 150px;
    height: 45px;
    font-size: 16px;
  }

  .hero_rightside img{
    max-width: 420px;
  }

  .menu ul{
    flex-wrap: wrap;
    gap: 14px;
  }

  .Lproduct{
    flex: 0 0 100%;
    max-width: 100%;
  }

  .Lproduct_image{
    height: 220px;
  }

  .Lproduct_info{
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
}
.offer{
    padding-top:50px ;
    padding-bottom: 50px;
}



.offer h2{
  text-align: center;
  margin-bottom: 40px;
}

.offers{
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 28px;
  flex-wrap: wrap; 
}

.support{
    width: calc((100% - 84px) / 4);
  text-align: center;
  padding: 30px 20px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}
.support h3 {
        font-size: 20px;
        font-weight: 550;
  font-family: 'Josefin Sans', sans-serif;

    color: #151875; 
    margin-bottom: 12px;
}

.support p {
    color: #8A8FB9; 
    line-height: 1.6;
      font-family: 'Lato', sans-serif;

}
.support img {
    margin-bottom: 20px;
}
@media (max-width: 992px){
  .support{
    flex: 1 1 calc((100% - 28px) / 2);
    max-width: calc((100% - 28px) / 2);
  }
}

@media (max-width: 576px){
  .support{
    flex: 1 1 100%;
    max-width: 100%;
  }

  .offer h2{
    font-size: 26px;
  }
}


.trending_products{
    padding-bottom: 50px;
    padding-top: 50px;
}
.all_trending_products{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;  
}

.trend_image{
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: #F5F6F8;
    width: 247px;
  height: 244px;

}
.trend_image img{
  max-width: 100%;
  height: auto;
}
.trend_item{
  flex: 1 1 250px;  
  height: 350px;
  text-align: center;
   max-width: 270px;
  height: 350px;
}
.trend_info h3{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #151875;
  margin: 15px 0 8px;
}
.trend_info .new{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #151875;
}
.trend_info .old{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #8A8FB9;
  text-decoration: line-through;
  margin-left: 6px;
}
.treding_title{
      font-family: 'Josefin Sans', sans-serif;
font-size: 32px;
color:#151875;
}